* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.primary-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #FF5959;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
/*--header start here--*/
header {
    width: 100%;
    height: 90vh;
    background-image: url('../images/donation6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.banner {
    width: 100%;
    height: 90vh;
    padding: 10% 20% 12% 20%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}
.header-container {
    text-align: center;
    color: white;
}
.header-container h1 {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}
.banner-description {
    padding: 2% 20%;
    font-size: 18px;
}
.banner-description p {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

/*--main start from here--/
/*--donate today container--*/

.section-heading {
    font-size: 46px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.section-pera{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.658);
}
.donate-today-container {
    padding: 8% 20%;
    width: 100%;
}
.donate-today-header {
    text-align: center;
    padding: 0 13%;
}
.donate-today-main {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 50px;
}
.donate-amount{
    font-size: 28px;
    font-weight: bold;
    color: gray;
    font-family: 'Roboto', sans-serif;
    background:rgba(0, 0, 0, 0.014);
    padding: 40px 30px;
}
.second-amount {
    border: 3px solid #ff5959bd;
    background-color: #ff59591f;
    border-radius: 7px;
    color: #ff5959bd;
}
.donate-today-footer p {
    text-align: center;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.335);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.donate-today-footer hr {
    border: .7 px solid rgba(0, 0, 0, 0.335);
    margin-bottom: 28px;
}
.btn-container{
    display: flex;
    justify-content: center;
}

/*--donate today plan--*/
.donate-plan-container {
    width: 100%;
    padding: 0 10%;
}
.donate-plan-header {
    text-align: center;
    padding: 0 13%;
}
.donate-plan-footer {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.donate-plan-footer div {
    width: 340px;
    height: 350px;
    padding: 50px 20px;
    border-radius: 10px;
}
.donate-plan-footer div h3 {
   margin: 20px 0;
   font-size: 30px;
   font-family: 'Roboto', sans-serif;;
}
.food {
    background-color: #FFEEEE;
}
.shelter {
    background-color: #EDF5F6;
}
.education {
    background-color: #FFF4D6;
}

/*--section 3 start here--*/
.section3 {
    padding:5% 10%;
    display: flex;
    justify-content: space-between;
}
.section-info {
    width: 40%;
}
.section-image img {
    width: 500px;
    height: 400px;
    border-radius: 10px;

}

/*--section4 start here--*/
.section4 {
    padding:5% 10%;
    display: flex;
    justify-content: space-between;
}

/*--section5 start here--*/
.subscribe-section {
    text-align: center;
    width: 100%;
    padding: 8% 20%;
}
.subscribe-section-footer {
    padding: 10%;
    margin-top: 40px;
    background-color: #ff59591f;
    font-size: 0;
}
#email {
    width: 50%;
    padding: 16px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 7px 0 0 7px;
}
#subscribe-btn {
    padding: 16px;
    background-color: #FF5959;
    border: none;
    border-radius:  0 7px 7px 0;
}
input:focus {
    outline: none;
}

/*--footer start here--*/
footer {
    width: 100%;
    background-color: #0B0D17;
    color: #FF5959;
    text-align: center;
    padding: 40px 0;
}
.footer h6 {
    font-size: 30px;
    line-height: 80px;
}
.footer p {
    color:  #D9D9D9;
}